html, body {
	font-family: 'Raleway' !important;
}
* {
	font-family: 'Raleway' !important;
}
body {
	background-color: #131313;
}
* {
	padding: 0;
	margin: 0;
	color: white;
}

/* OVERLAY */
.overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: #131313;
	z-index: 10000;
}

/* COMMON STYLE */
.card {
	border: 0;
	border-radius: 0px !important;
	height: 100%;
}

/* SWITCHES */
.switch {
	background-color: #191919;
	border-top: 0.25vh solid #87d403 !important;
}
#btn1Name, #btn2Name, #btn3Name, #btn4Name {
	background-color: #000000;
}
.no-decoration {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.no-decoration:focus, .no-decoration:hover {
  text-decoration: none;
}
.no-decoration:focus, .no-decoration.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}
.switch-container .row {
	text-align: center;
}
.switch-container h6 {
	font-weight: 100;
	font-size: 2.75vh;
	letter-spacing: 1px;
	color: white;
	margin: 0;
	line-height: 3.5vh;
}
.switch-container .btn-toggle {
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.btn-toggle {
	position: relative;
	border: none;
	height: 4vh;
	width: 8vh;
	border-radius: 4vh;
	color: white;
	background: #666666;
}
.btn-toggle:before,
.btn-toggle:after {
	line-height: 4vh;
	width: 8vh;
	text-align: center;
	font-weight: 100;
	font-size: 1.6vh;
	text-transform: uppercase;
	letter-spacing: 1px;
	position: absolute;
	bottom: 0;
	-webkit-transition: opacity .25s;
	transition: opacity .25s;
}
.btn-toggle:before {
	content: attr(data-off);
	left: -7vh;
}
.btn-toggle:after {
	content: attr(data-on);
	right: -7vh;
	opacity: .5;
}
.btn-toggle > .handle {
	position: absolute;
	top: 0.5vh;
	left: 0.5vh;
	width: 3vh;
	height: 3vh;
	border-radius: 3vh;
	background: #fff;
	-webkit-transition: left .25s;
	transition: left .25s;
}
.btn-toggle.active {
	-webkit-transition: background-color 0.25s;
	transition: background-color 0.25s;
}
.btn-toggle.active > .handle {
	left: 4.5vh;
	-webkit-transition: left .25s;
	transition: left .25s;
}
.btn-toggle.active:before {
	opacity: .5;
}
.btn-toggle.active:after {
	opacity: 1;
}
.btn-toggle.active {
	background-color: #87d403;
}

/* INPUTS & OUTPUTS */
#out1, #out2, #out3, #out4, #in1, #in2, #in3, #in4 {
	display: grid;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-left: 0.25vh solid #87d403;
	background-color: #191919;
}
.name {
	max-width: calc(100% - 6vh);
	letter-spacing: 0px;
	font-size: 2.4vh;
}
.status {
	line-height: 3.5vh;
	width: 6vh;
	border-radius: 100px !important;
	letter-spacing: 0px;
	font-size: 1.2vh;
}
.red {
	background-color: #d9534f !important;
}

.green {
	background-color: #87d403 !important;
}